
<div #main class="content" role="main">

    <button #coolButton>Click me!</button>
    <button (click)="clearCanvas()">Clear</button>

    <div *ngIf="!!clickDetails">
        <div *ngIf="clickDetails.onCanvas">
            Last click occurred at x = {{ clickDetails.x }}, y = {{ clickDetails.y }}.
        </div>
        <div *ngIf="!clickDetails.onCanvas">
            Last click was outside of the canvas.
        </div>
        You were {{ this.wasHoldingShift ? '' : 'not' }} holding shift.
        
    </div>

</div>

<router-outlet></router-outlet>


<canvas id="drawingBoard" width="1000" height="800"></canvas>